<%= form_with(model: @task) do |f| %>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-8">
      <%= f.text_field :content, class: 'form-control mb-5', autofocus: true, id: "task_create_form" %>  
    </div>
    <div class="col-1">
      <%= f.submit "登録", class: "btn btn-outline-primary mb-4" %>
    </div>
  </div>
<% end %>

 

<%= turbo_frame_tag "task_body" do %>
  <%= render 'partials/task_body', task: @tasks %>
<% end %>