<%= form_with(model: @task) do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6 col-8">
      <%= f.text_field :content, class: 'form-control mb-4 mt-2' %>  
    </div>
    <div class="col-1">
      <%= f.submit "登録", class: "btn btn-outline-primary mb-4 mt-2" %>
    </div>
  </div>
<% end %>

<% @tasks.each do |task| %>
  <div class="task row mt-3">
    <div class="task-item col-6 ">
      <%= task.content %>
    </div>
    <div class="col-5">
      <%= link_to "完了", "#", class: "btn btn-outline-success" %>
      <%= link_to "編集", "#", class: "btn btn-outline-warning" %>
      <%= link_to "削除", task_path(task.id), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
    </div>
  </div>
<% end %> 