<%= form_with(model: @task) do |f| %>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-8">
      <%= f.text_field :content, class: 'form-control mb-5', autofocus: true %>  
    </div>
    <div class="col-1">
      <%= f.submit "登録", class: "btn btn-outline-primary mb-4" %>
    </div>
  </div>
<% end %>

<% if @tasks %>
<% @tasks.each do |task| %>
  <%= turbo_frame_tag task do %>
    <div class="task row mt-3">
      <div class="task-item col-6" id="task_<%= task.id %>_content">
        <% if task.done %>
          <%= content_tag :div, task.content, class: "done-task" %>
        <% else %>
          <%= task.content %>
        <% end %>
      </div>
      <div class="col-5">
        <div class="btn-group">
          <%= button_to task_done_path(task.id), params: { task: { id: task.id } }, class: "btn fs-5 ", data: { "turbo-method": :post }, id: "task_#{task.id}_done" do %>
          
          <% if task.done %>
            <i class="bi bi-check-square"></i>
          <% else %>
            <i class="bi bi-square"></i>
          <% end %>
            
          <% end %>
          <%= link_to edit_task_path(task.id), class: "btn fs-5" do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to task_path(task.id), class: "btn fs-5", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>